


.box {
    width: 25vw;
    height: 55vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0; 
    color: black;
    font-size: 1rem; 
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    padding-bottom: 30px;
}

.IntroClap {
    color:white; 
    font-size: 1.3rem; 
    border-bottom: white 3px solid; 
    padding-bottom: 3vw; 


}

.boxTitle { 
display: flex; 
flex-direction: row; 
align-items: center;
gap: 5px;  
}

.microphone { 
    height: 20px; 
    width:20px; 
}

.box.podcasttwo audio { 
    padding-top: 15vh;
}

body {
    background-color: black !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Added for vertical centering */
    min-height: 100vh; /* Ensures body takes the full viewport height */

    font-family: "PT Sans", sans-serif;
    padding: 0; /* Ensures no unintended padding */
    line-height: 2;
    color: black;
}

.container {
    margin-top: 0; /* Remove or minimize to center vertically */
    display: grid;
    grid-template-columns: repeat(3, 30vw); 
    row-gap: 10px;
    justify-content: center; /* Center grid horizontally */
    align-items: center; /* Align grid items within their cells */
}

.IntroClap { 
    margin:8vh; 
}